.view-profileupdate div.control-label label {
  font-weight: bold;
  font-size: 15px;
}
.view-profileupdate span.star {
  color: #ff0000;
}
.view-profileupdate textarea {
  resize: none;
  width: 80%;
  max-height: 200px;
}
