.view-profile div#user label.control-label {
  font-weight: bold;
  font-size: 15px;
}
.view-profile div#user div.control-group + div.control-group {
  margin-top: 20px;
}
.view-profile div#user div.profile-actions {
  margin-top: 30px;
}
.view-profile div#user div.profile-actions a span.fa {
  margin-right: 3px;
}
.view-profile div#user div.update-avatar-notice {
  margin-top: 15px;
}
.view-profile div#user img {
  max-width: 120px;
  max-height: 120px;
}
.view-profile div#user div.avatar-wrapper {
  position: relative;
  width: 120px;
  margin: 0 auto;
}
.view-profile div#user div.avatar-wrapper a.upload-link {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(100, 100, 100, 0.7);
  border-radius: 3px;
  display: none;
}
.view-profile div#user div.avatar-wrapper a.upload-link span.fa {
  color: #ffffff;
  font-size: 50px;
  line-height: 120px;
}
.view-profile div#user div.avatar-wrapper:hover:not(.loading) a.upload-link {
  display: block;
}
.view-profile div#user div.avatar-wrapper div.progress-bar-wrapper {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(100, 100, 100, 0.7);
  border-radius: 3px;
  display: none;
}
.view-profile div#user div.avatar-wrapper div.progress-bar-wrapper div.progress {
  height: 10px;
  border-radius: 0;
  margin: 60px 10px 0 10px;
}
.view-profile div#subscriptions img {
  width: 42px;
}
.view-profile div#subscriptions td.avatar {
  width: 42px;
}
.view-profile div#subscriptions div.subscriptions-actions {
  overflow: hidden;
  margin: 10px 0;
}
