div.dashboard .panel {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  line-height: normal;
}
div.dashboard .panel.panel-default {
  border-color: #ddd;
}
div.dashboard .panel div.panel-heading:hover span.fa-minus-square-o {
  display: inline-block;
}
div.dashboard .panel div.panel-heading:hover span.fa-plus-square-o {
  display: none;
}
div.dashboard .panel.closed div.panel-heading:hover span.fa-minus-square-o {
  display: none;
}
div.dashboard .panel.closed div.panel-heading:hover span.fa-plus-square-o {
  display: inline-block;
}
div.dashboard .panel.closed div.panel-body {
  display: none;
}
div.dashboard .panel div.panel-body table .narrow {
  padding: 8px 0;
}
div.dashboard .panel div.panel-body table .thinnest {
  width: 1px;
}
div.dashboard div.panel-feedback td.has-votes a.badge {
  background-color: #3c763d;
}
div.dashboard .panel-heading {
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 8px 15px 8px 10px;
  font-weight: bold;
}
div.dashboard .panel-heading span.handle {
  font-size: 14px;
  cursor: move;
}
div.dashboard .panel-heading span.toggle {
  float: right;
  font-size: 17px;
  cursor: pointer;
  display: none;
}
div.dashboard .panel-default > .panel-heading {
  border-color: #ddd;
  color: #333;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #eeeeee, #dddddd) repeat scroll 0 0;
  text-shadow: 0 1px 0 #ffffff;
}
div.dashboard .panel-body {
  padding: 10px;
  background-color: #fafafa;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #aaaaaa;
}
div.dashboard .panel-body .table-striped tbody > tr:nth-child(2n+1) > td,
div.dashboard .panel-body .table-striped tbody > tr:nth-child(2n+1) > th {
  background-color: #eeeeee;
}
div.dashboard .panel-body table {
  margin: 0;
}
div.dashboard .panel-body table td {
  line-height: normal;
}
div.dashboard .panel-body div.actions {
  margin: 15px 10px 0;
  padding-top: 10px;
  border-top: 1px solid #e9e9e9;
}
div.dashboard .panel-body div.actions a {
  color: #888888;
}
div.dashboard .panel-body div.actions a + a {
  margin-left: 15px;
}
div.dashboard .panel-body div.no-results {
  margin: 10px 10px 0 10px;
}
div.dashboard .panel-body table.table th {
  color: #666666;
  padding: 4px 8px;
}
div.dashboard .sortable-placeholder {
  background-color: #ffffdd;
  border: 1px dashed #cccccc;
  border-radius: 4px;
  margin-bottom: 20px;
}
div.dashboard .panel-body {
  padding: 0;
  overflow: hidden;
}
div.dashboard .panel-body a.btn.btn-mini {
  box-shadow: none;
  background-color: #eeeeee;
  background-image: none;
  border-color: #cccccc;
}
div.dashboard .panel-body a.btn.btn-mini:hover {
  background-color: #dddddd;
}
div.dashboard .panel-body table.table th {
  background-color: #cccccc;
  color: #444444;
}
div.dashboard .panel-body table.table th,
div.dashboard .panel-body table.table td {
  padding: 10px;
}
div.dashboard .panel-body table.table + div.actions {
  border-top: 1px solid #dddddd;
}
div.dashboard .panel-body div.actions {
  border-top: none;
  margin: 0;
  padding: 10px 15px 10px;
}
div.dashboard div.panel-statistics div.panel-body {
  padding: 0;
  overflow: hidden;
}
div.dashboard div.panel-statistics table.table td {
  padding: 10px 15px;
}
